@font-face {
  font-family: "Pretendard-Light";
  src: url("../assets/fonts/Pretendard-Light.woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../assets/fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("../assets/fonts/Pretendard-Medium.woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../assets/fonts/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("../assets/fonts/Pretendard-Bold.woff");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("../assets/fonts/Pretendard-ExtraBold.woff");
}

body {
  font-family: "Pretendard-Regular";
  background-color: rgba(243, 243, 249, 1);
  margin: 0;
}